*{
    margin: 0;
    padding: 0;
    
}

.menubar{
    width: 960px;
    height: 60px;
    background: #6a5e5e;
    margin: 0 auto;
    
}
.menubar ul{
    list-style: none;
}
.menubar ul li{
    float: left;
    
}
.menubar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 20px;
    line-height: 60px;
    border-right:2px solid;
    
    display: block;
    transition: all linear 0.4s;
}

.menubar ul li a:hover{
    color: #000000;
    background: #d10f0f;
    
}
.menubar ul li:last-child a{
    border-right: 0px;
}
.menubar ul li a.active{
    background: #d10f0f;
}